body {
    .rotated{
        transition: 500ms;
        transform: rotateX(90deg);
    }
    .scale{
        transition: 500ms;
        transform:  scale(0.0);
        
    }
    .short{
        height: 20px;
        background: red;
    }
    .none {
        display: none!important;
    }

    .hidden {
        visibility: hidden;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .col {
        display: flex;
        flex-direction: column;
    }
}