body {
    .short{
        height: 20px;
        background: red;
    }
    .none {
        display: none!important;
    }

    .hidden {
        visibility: hidden;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .col {
        display: flex;
        flex-direction: column;
    }
}