body {
    .loaded{
        fill: $starwars;
    }
    .blur {
        filter: blur(0.5rem);
    }

    .rotated {
        transition: 500ms;
        transform: rotateX(90deg);
    }

    .scale {
        transition: 500ms;
        transform: scale(0.0);

    }

    .equal {
        font-weight: bold;
        color: $starwars;
    }

    .winner {
        color: $starwars;
        font-weight: bold;
    }

    .short {
        height: 20px;
        background: red;
    }

    .none {
        display: none !important;
    }

    .hidden {
        visibility: hidden;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .col {
        display: flex;
        flex-direction: column;
    }
}