
@keyframes scaleUpDown {
    0% {
        transform: scale(1);
    }
    10%{
        transform: scale(1.05);
    }
    50%{
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}