section.card-section {
    display: flex;
    //outline: 1px solid #ccff00;
    padding: 1rem;
    margin: 0px;
    gap: 1.2rem;
    //overflow: auto;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 300ms;



    .picture-cards {
        //outline: 1px solid rgb(0, 21, 255);
        gap: 1rem;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;


        .card {
            //width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            gap: 0.4rem;

            div {
                .picture {
                    //outline: 1px solid rgb(43, 255, 0);
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column-reverse;
                    width: 100%;
                    aspect-ratio: 1/1;
                    background-size: cover;
                }
            }

            h3 {
                color: $accent-light;
                margin: 0;
                padding: 0.4rem;
                background: rgb(0, 0, 0);
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 73%, rgba(255, 255, 255, 0) 100%);
            }

            .svg-buttons {
                display: flex;
                flex-direction: column;
                padding: 0.5rem;
                justify-content: space-between;
                align-items: center;
                background: rgba(70, 26, 26,0.5);

                div.loaded {
                    &:hover {
                        transform: scale(1.15);
                    }
                }

                svg {
                    width: 1.2rem;
                    fill: inherit;
                    .both-icon-1{
                        fill: $accent-light;
                    }
                    .path2 {
                        fill: rgb(27, 26, 26);
                    }
                }
            }
        }
    }


    //border: 1px solid red;
}








h4 {
    padding: 0;
    margin: 0;

}

p {
    margin: 0;
    padding: 0;
}





@media only screen and (max-width: 600px) {
    .container {
        padding: 0 !important;
    }

    .card-section {
        .picture-cards {
            padding: 0;
        }

        .message-attribute {
            flex-direction: column;
        }

    }
}