  main {
      .compare-section {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          color: $accent-light;
          flex-direction: row-reverse;

          .compare-attributes {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;

              div {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  margin: 0 0.5rem;
              }
          }

          .equal {
              font-weight: bold;
          }

          .winner {
              color: green;
          }
      }



  }

  @media only screen and (max-width: 800px) {
      main{
          .compare-section {
              flex-direction: column;
          }
          
    }
    }