.card-section {
    outline: 1px solid red;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
    transition: ease-in-out 300ms;

    .picture-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        button{
        transition: 500ms ease-in;
        }
    }

    .message-container {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .button-div {
        display: flex;
        margin: 1rem;
        justify-content: center;
        outline: 1px solid rgb(64, 0, 255);
        transition: 500ms ease-in;
    }


    .card {
        display: flex;
        padding: 0.5rem;
        outline: 1px solid $starwars;
        gap: 1rem;
    }

    img {
        border: 1px solid $accent-light;
    }
}




@media only screen and (max-width: 1000px) {
    #picture-section {
        .card {
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 600px) {
    #picture-section {
        div {
            flex-direction: column;
        }

        .msg {
            div:first-child {
                flex-direction: row;
                outline: 1px solid rgb(47, 0, 255);
            }
        }
    }
}