@import url("https://fonts.cdnfonts.com/css/star-wars");
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Star Wars", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #FFE81F;
  transition: 1000ms;
  letter-spacing: 2px;
}
header h1.title-header {
  color: rgb(222, 218, 218);
  padding: 0.4rem 1rem;
  font-size: 1.4rem;
}
header h2 {
  margin-top: 0;
  transition: 1000ms;
}

main {
  display: flex;
  flex-direction: column;
}
main .card {
  padding: 0.2rem;
  background: rgba(35, 34, 34, 0.3);
}

section.download-section {
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: rgb(222, 218, 218);
}
section.download-section div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
section.download-section select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px dashed orange;
  border-radius: 4px;
  color: inherit;
  padding: 0.1rem 1rem 0.1rem 0.5rem;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  outline: none;
  cursor: inherit;
  line-height: inherit;
}

p {
  margin: 0px;
  padding: 2px;
}

button {
  text-align: center;
  font-family: "Star Wars", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  padding: 0.1rem;
  background: transparent;
  color: #FFE81F;
  transition: ease-in-out 300ms;
  letter-spacing: 2px;
  border-bottom: 2px solid transparent;
}
button:hover {
  transition: ease-in-out 300ms;
  transform: scale(1.05);
  border-bottom: 3px solid rgb(222, 218, 218);
}

footer {
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  background: rgba(67, 67, 67, 0.4);
  color: rgb(201, 199, 199);
  filter: blur(1);
  display: flex;
  width: 100vw;
}

body .loaded {
  fill: #FFE81F;
}
body .blur {
  filter: blur(0.5rem);
}
body .rotated {
  transition: 500ms;
  transform: rotateX(90deg);
}
body .scale {
  transition: 500ms;
  transform: scale(0);
}
body .equal {
  font-weight: bold;
  color: #FFE81F;
}
body .winner {
  color: #FFE81F;
  font-weight: bold;
}
body .short {
  height: 20px;
  background: red;
}
body .none {
  display: none !important;
}
body .hidden {
  visibility: hidden;
}
body .row {
  display: flex;
  flex-direction: row;
}
body .col {
  display: flex;
  flex-direction: column;
}

section.card-section {
  display: flex;
  padding: 1rem;
  margin: 0px;
  gap: 1.2rem;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 300ms;
}
section.card-section .picture-cards {
  gap: 1rem;
  padding: 0.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section.card-section .picture-cards .card {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.4rem;
}
section.card-section .picture-cards .card div:first-child {
  width: 100%;
}
section.card-section .picture-cards .card div .picture {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  width: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
  max-width: 300px;
}
section.card-section .picture-cards .card h3 {
  text-align: center;
  color: rgb(222, 218, 218);
  margin: 0;
  padding: 0.4rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 73%, rgba(255, 255, 255, 0) 100%);
}
section.card-section .picture-cards .card .svg-buttons {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(62, 48, 48, 0.2);
}
section.card-section .picture-cards .card .svg-buttons div.loaded:hover {
  transform: scale(1.15);
}
section.card-section .picture-cards .card .svg-buttons div.loaded:hover .path2 {
  fill: rgb(111, 111, 111);
}
section.card-section .picture-cards .card .svg-buttons svg {
  width: 1.6rem;
  fill: inherit;
}
section.card-section .picture-cards .card .svg-buttons svg .both-icon-1 {
  fill: rgb(222, 218, 218);
}
section.card-section .picture-cards .card .svg-buttons svg .path2 {
  fill: rgb(49, 48, 48);
}

h4 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 !important;
  }
  .message-attribute .card {
    width: auto !important;
  }
  .card-section .picture-cards {
    padding: 0;
  }
  .card-section .message-attribute {
    flex-direction: column;
  }
}
.message-attribute {
  padding: 0.5rem;
  gap: 0.4rem;
  color: rgb(222, 218, 218);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  max-width: 1300px;
}
.message-attribute .card {
  width: 50%;
}
.message-attribute .message-container {
  border-radius: 4px;
  flex-grow: 1;
  border: 1px solid rgb(222, 218, 218);
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  content: "";
  transition: 300ms;
}
.message-attribute .compare-card {
  border-radius: 4px;
  border: 1px solid rgb(222, 218, 218);
  display: flex;
  position: relative;
  flex-grow: 1;
  justify-content: center;
}
.message-attribute .compare-card .compare-attributes > div {
  background: rgba(22, 22, 22, 0.4);
}
.message-attribute .compare-card .compare-attributes > div:first-of-type {
  padding-top: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.message-attribute .compare-card .compare-attributes > div:last-of-type {
  padding-bottom: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.message-attribute .show-comparison {
  font-family: "Star Wars", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(35, 34, 34, 0.3);
  z-index: 1;
}
.message-attribute .show-comparison h2 {
  font-size: 1rem;
  border-bottom: 1px solid rgb(32, 32, 32);
}
.message-attribute .show-comparison:hover h2 {
  transform: scale(1.05);
  border-bottom: 1px solid #FFE81F;
}
.message-attribute .compare-attributes {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 300px;
  min-width: 300px;
}
.message-attribute .compare-attributes div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0.5rem;
}

* {
  font-size: calc(16px + 6 * (100vw - 320px) / 960);
}

body {
  padding: 0px;
  margin: 0px;
  background: url("../assets/background-large.jpeg");
  background-size: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body h2 {
  font-size: 1rem;
}
body .container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  transition: 300ms;
}

@media only screen and (min-width: 1800px) {
  body {
    background-size: cover;
  }
}/*# sourceMappingURL=style.css.map */