@import url('https://fonts.cdnfonts.com/css/star-wars');
@import "partials/variables";
@import "partials/header";
@import "partials/main";
@import "partials/download-section";
@import "partials/footer";
@import "partials/helper";
@import "partials/picture-cards";
@import "partials/message-attribute";

* {
    font-size: calc(16px + (22 - 12) * ((100vw - 320px) / (1280 - 320)));
    //box-sizing: border-box;
    //outline: 1px solid red;
}

body {
    padding: 0px;
    margin: 0px;
    background: url('../assets/background-large.jpeg');
    background-size: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    h2 {
        font-size: 1rem;
    }
    .container {
        padding: 1rem;
        display: flex;
        flex-direction: column;

        max-width: 1200px;
        margin: auto;
    transition: 300ms;
    }
}

@media only screen and (min-width: 1800px) {
    body {
        background-size: cover;
    }
}