@import url("https://fonts.cdnfonts.com/css/star-wars");
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Star Wars", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #FFE81F;
  transition: 1000ms;
  letter-spacing: 2px;
}
header h1.title-header {
  color: rgb(222, 218, 218);
  border: 2px solid yellow;
  padding: 0.4rem 1rem;
  font-size: 1.4rem;
}
header h2 {
  transition: 1000ms;
}

main {
  display: flex;
  flex-direction: column;
}
main #download-button {
  background: transparent;
  font-family: "Star Wars", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #FFE81F;
}
main section {
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: rgb(222, 218, 218);
}
main section:first-child select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px dashed orange;
  border-radius: 4px;
  color: inherit;
  padding: 0.1rem 1rem 0.1rem 0.5rem;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  outline: none;
  cursor: inherit;
  line-height: inherit;
}
main section p {
  margin: 0px;
  padding: 2px;
}
main section button {
  border: none;
  padding: 0.1rem;
  background: transparent;
  color: #FFE81F;
  transition: ease-in-out 300ms;
}
main section button:hover {
  background: rgba(200, 199, 199, 0.1);
}

footer {
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  background: rgba(67, 67, 67, 0.4);
  color: rgb(201, 199, 199);
  filter: blur(1);
  display: flex;
  width: 100vw;
}

body .rotated {
  transition: 500ms;
  transform: rotateX(90deg);
}
body .scale {
  transition: 500ms;
  transform: scale(0);
}
body .short {
  height: 20px;
  background: red;
}
body .none {
  display: none !important;
}
body .hidden {
  visibility: hidden;
}
body .row {
  display: flex;
  flex-direction: row;
}
body .col {
  display: flex;
  flex-direction: column;
}

main .compare-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: rgb(222, 218, 218);
  flex-direction: row-reverse;
}
main .compare-section .message-container {
  content: "";
  width: 100%;
}
main .compare-section .compare-attributes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .compare-section .compare-attributes div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0.5rem;
}
main .compare-section .equal {
  font-weight: bold;
}
main .compare-section .winner {
  color: green;
}

@media only screen and (max-width: 800px) {
  main .compare-section {
    flex-direction: column;
  }
}
.card-section {
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  transition: ease-in-out 300ms;
}
.card-section .message-attribute {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-section .message-attribute .message-container {
  content: "";
  width: 100%;
}
.card-section .message-attribute .compare-attributes {
  padding: 1rem;
}
.card-section .picture-cards {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-section .picture-cards button {
  transition: 500ms ease-in;
}
.card-section .message-container {
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  margin: 1rem;
}
.card-section .button-div {
  display: flex;
  margin: 1rem;
  justify-content: center;
  transition: 500ms ease-in;
}
.card-section .card {
  display: flex;
  margin: 1rem;
  gap: 1rem;
  background-size: cover;
  aspect-ratio: 1/1;
}
.card-section .card .picture {
  padding: 0.5rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 73%, rgba(255, 255, 255, 0) 100%);
}
.card-section .card div {
  align-self: flex-end;
}
.card-section img {
  border: 1px solid rgb(222, 218, 218);
}
.card-section .compare-attributes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card-section .compare-attributes div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0.5rem;
}
.card-section .equal {
  font-weight: bold;
}
.card-section .winner {
  color: green;
}

@media only screen and (max-width: 1000px) {
  #picture-section .card {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .card-section .message-attribute {
    flex-direction: column;
  }
}
*,
*::before,
*::after {
  font-size: calc(16px + 10 * (100vw - 320px) / 960);
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background: url("../assets/background-large.jpeg");
  background-size: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: ease-in 300ms;
}
body h2 {
  font-size: 1rem;
}
body .container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}

@media only screen and (min-width: 1800px) {
  body {
    background-size: cover;
  }
}/*# sourceMappingURL=style.css.map */